name: Update flake.lock

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *' # runs monthly at 00:00

jobs:
  update-flake-inputs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "Update flake.lock"
          pr-labels: |
            dependencies
            automated
